<body>
  <script>
    document.write(`
        <style>
            body, html {
                background-color: ${isThemeDark ? "black" : "white"};
                min-height: 100vh;
                min-width: 100vw;
                overflow: hidden;
            }
        </style>
    `);
  </script>
</body>
