<title>Chatterbox</title>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta property="og:site_name" content="Chatterbox | Mensajería instantanea" />
<meta property="og:title" content="Chatterbox" />
<meta property="og:description" content="Chatterbox, charla sin límites." />

<meta property="og:image" content="/src/img/logo/states/app-bg-w=1024.png" />
<link rel="icon" type="image/png" href="/src/img/logo/v1-w=64.png" />
